TELEGRAM_TOKEN=
DEVELOPER_CHAT_ID=

POSTGRES_DB=chegahoje
POSTGRES_USER=chegahoje
POSTGRES_PASSWORD=troque_esta_senha

DATABASE_URL=postgresql+psycopg2://chegahoje:troque_esta_senha@postgres:5432/chegahoje